<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab">Tickets</a></li>
    <li role="presentation"><a href="#regression" aria-controls="regression" role="tab" data-toggle="tab">Regressions</a></li>
    <li role="presentation"><a href="#production" aria-controls="production" role="tab" data-toggle="tab">Production</a></li>
    <li role="presentation"><a href="#archived" aria-controls="archived" role="tab" data-toggle="tab">Archived</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tickets">
      <!-- Beginning of Square Grid-->
      <div class="row">
          <!--Buttons for Sorting-->
        <div id="filters" class="button-group">
          <button type="button" class="button is-checked" data-filter="*" data-toggle="tooltip" data-placement="bottom">show all</button>
          <button type="button" class="button" data-toggle="tooltip" data-placement="bottom" data-filter=".Working">Working</button>
          <button type="button" class="button" data-toggle="tooltip" data-placement="bottom" data-filter=".Blocked">Blocked</button>
          <button type="button" class="button" data-toggle="tooltip" data-placement="bottom" data-filter=".Completed">Completed</button>
          <div class="btn btn-info" data-toggle="modal" data-target="#newTicket">New Ticket</div>
        </div>
      </div>
      <div class="row isotope">
        <% @cards.where('archived =?', false).each do |card| %>
        <div class="col-md-3 col-xs-6 <%= card.status %>" data-toggle="modal" data-target="#editTicket<%= card.id %>">
          <div class="thumbnail ticketinfo gradient">
            <%= card.link_to_ticket %>
            <%= card.ticket_title %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <!--      End of Square Grid-->
    <div role="tabpanel" class="tab-pane fade" id="regression">
        <% @cards.where('regression_concern =? AND archived =?', true,false).each do |card| %>
          <div class="col-md-3 col-xs-6" data-toggle="modal" data-target="#editTicket<%= card.id %>">
            <div class="thumbnail ticketinfo gradient">
              <%= card.link_to_ticket %>
              <%= card.ticket_title %>
            </div>
          </div>
        <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="production">
      <% @cards.where('rake_task=? OR migration=?', true, true).where('archived =?', false).each do |card| %>
        <div class="col-md-3 col-xs-6" data-toggle="modal" data-target="#editTicket<%= card.id %>">
          <div class="thumbnail ticketinfo gradient">
            <%= card.link_to_ticket %>
            <%= card.ticket_title %>
          </div>
        </div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="archived">
      <% @cards.where('archived =?', true).each do |card| %>
        <div class="col-md-3 col-xs-6" data-toggle="modal" data-target="#editTicket<%= card.id %>">
          <div class="thumbnail ticketinfo gradient">
            <%= card.link_to_ticket %>
            <%= card.ticket_title %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<% @cards.each do |card| %>
  <div class="modal fade" id="editTicket<%= card.id %>" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= card.link_to_ticket %> <%= card.ticket_title %></h4>
        </div>
        <div class="modal-body editor">
          <div class="row">
            <div class=col-md-12><h4>Ticket Status</h4></div>
            <div class="col-md-12"><%= card.status %></div>
            <div class=col-md-12><h4>Ticket Notes</h4></div>
            <div class="col-md-12"><%= simple_format card.ticket_notes %></div>
            <div class=col-md-12><h4>Production Notes</h4></div>
            <div class=col-md-6>Rake Task: <%= card.rake_task %></div>
            <div class=col-md-6>Migration: <%= card.migration %></div>
            <div class="col-md-12"><%= simple_format card.other_prod_concern %></div>
            <div class=col-md-12><h4>Regression Notes</h4></div>
            <div class="col-md-12"><%= card.regression_concern %></div>
            <div class="col-md-12"><%= simple_format card.regression_textbox %></div>
            <div class=col-md-12><h4>Archive</h4></div>
            <div class="col-md-12"><%= card.archived %></div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Edit", edit_path(card), :class => 'btn btn-primary', :remote => true %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<!-- New Ticket Modal -->
  <div class="modal fade" id="newTicket" role="dialog">
    <div class="modal-dialog">
      <!-- New ticket modal -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Ticket</h4>
        </div>
        <div class="modal-body">
          <%= render 'shared/cardform' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
